a
{
	text-decoration: none;
}

a:visited
{
	color: black;
}

a:link 
{
	color:black;
}

footer
{
	font-size: 0.6em;
	text-align: center;
	background: rgba(0,0,0,0.05);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

html
{
	background: url(../images/background.png);
	font-family: 'Arimo', sans-serif;
}

img
{
	width: 20%;
	display: block;
    margin-left: auto;
    margin-right: auto;

}

nav 
{
	width: 100%;
	text-align: center;
	color: white;

}

nav a
{
	font-size: 1em;
	padding: 3%  3% 0% 0%;

	transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    transition-delay: 20ms;
}

 
nav a:hover
 {
	font-size: 1.1em;
 }



